@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Utility classes for different fonts */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-lora {
  font-family: "Lora", serif;
}
